/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2019, 7:51:16 PM
    Author     : koma9
*/

span.under{
    text-decoration: underline;
}
div{
    display: none;
   
}
span:hover + div.name{
    
    display: block;
}

span:hover + div.tea{
    display: block;
    
}

.empha{
    font-weight: bold;
}

body{
    
    background-image: url("images/silverware.jpg");
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family: sans-serif;
        
}

h1{
    color: #A4A400 ;
    background-color: #F0F0F0 ;
    font-family:sans-serif;
    font-size: 22pt;
    text-align: center;
    text-decoration: underline;
    
    letter-spacing: 0.25em;
}

h2{
    color: #A4A400 ;
    background-color: #F0F0F0 ;
    font-family:sans-serif;
    font-size: 18pt;
    text-align: left;
    text-decoration: underline;
    display:inline;
    letter-spacing: 0.25em;
}
a{
    color: #A4A400 ;
}

ul{
    
    list-style-image: url("pie_bullet.png");
}

.italy{
    font-style: italic;
    background-color: #FFFFA8 ;
}