/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 7, 2019, 10:33:30 AM
    Author     : koma9
*/

body, input, button {
    font-family: "Century Gothic",sans-serif;
    font-size: 20pt;
}

div {
    margin: 0.5em;
    display: block;
   
}

#move{
    margin-left: auto;
    margin-right: auto;
}